# Laravel Specific
/vendor
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/debugbar

# Environment & Configuration
/.env
/.env.backup
/.env.production

# Node.js Dependencies
/node_modules
/public/build
/public/hot

# Cache & Test Results
/.phpunit.cache
/.phpunit.result.cache
/phpactor.json
Homestead.json
Homestead.yaml
auth.json

# Debug Logs
npm-debug.log
yarn-error.log

# IDE & Editor Configurations
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Operating System Files
.DS_Store
Thumbs.db
